name: Cria Infra do Terraform

on:
  workflow_dispatch:

jobs:
  plan:
    uses: paulocesar-prog/linuxtips-terraform-reusable/blob/main/.github/workflows/terraform-plan.yml@main
    with:
      action: ${{ inputs.action }}
      working-directory: ./iac
    secrets:
      AWS_ROLE_TO_ASSUME: ${{ secrets.AWS_ROLE_TO_ASSUME }}