
name: Cria Infra do Terraform

on:
  workflow_dispatch:

jobs:
  plan:
    uses: paulocesar-prog/linuxtips-terraform-reusable/.github/workflows/terraform-plan.yml@main
    permissions:
      id-token: write
      contents: read
    with:
      working-directory: ./iac
    secrets:
      AWS_ROLE_TO_ASSUME: ${{ secrets.AWS_ROLE_TO_ASSUME }}
  apply:
    needs: plan
    if: ${{ jobs.plan.conclusion == success }}
    environment: tfapprove
    uses: paulocesar-prog/linuxtips-terraform-reusable/.github/workflows/terraform-apply.yml@main
    with:
      working-directory: ./iac
    secrets:
      AWS_ROLE_TO_ASSUME: ${{ secrets.AWS_ROLE_TO_ASSUME }}