name: Cria Infra do Terraform

on:
  workflow_dispatch:

jobs:
  plan:
    uses: paulocesar-prod/linuxtips-terraform-reusable/.github/workflows/terraform-plan.yml@main
    with:
      action: ${{ inputs.action }}
      working-directory: ${{ inputs.working-directory }}
    secrets:
      AWS_ROLE_TO_ASSUME: ${{ secrets.AWS_ROLE_TO_ASSUME }}